* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#main-image {
  width: 20vw;
  height: 20vw;
  margin-left: auto;
  margin-right: auto;
  border-radius: 100%;
}

#gitlogo {
  width: 50px;
  cursor:pointer;
}

#linkedinlogo {
  width: 45px;
  cursor:pointer;
}

header {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
  font-size: 19px;
  background-color: rgb(214, 213, 212);
  height: 50px;
  width: 100%;
  color: rgb(114, 114, 114);
}

.navbar-brand, .navbar-menu {
  display: flex;
  margin: 0 20px;
  align-items: center;
}

.navbar-item-logo {
  font-size: 24px;
  margin-left: 15px;
}

.navbar-item-menu {
  font-size: 18px;
  margin-left: 15px;
}

.general-content {
  width: 80vw;
  margin: 0 auto;
  background-color: rgb(199, 192, 189);
}

#logo {
  background-color: rgb(83, 83, 83);
  color: white;
  border-radius: 5px;
  border: 1px solid black;
  font-size: 21px;
  padding: 4px;
}

#main-img {
  width: 15vw;
  height: 15vw;
}

#photo-logos {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.sider {
  width: 10vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-conteiner {
  margin-top: 80px;
  margin-bottom: 35px;
}