body {
    background-color:  rgb(226, 222, 222);
    font-size:35px;
}
#main-content {
  margin: auto;
  width: 70vw;
  max-width: 1000px;
  min-width: 600px;
}
#section1{
  height: 70vh;
}
.hero-title {
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  margin-left: 0.5vw;
}
#main-name {
  font-size: 0.6em;
  width: 50%;
  align-content: center;
  text-align: left;
  height: 5vh;
  margin-top: 1vh;
  overflow: hidden;
}

#hero-guide {
  font-size: 0.50em;
  width: 50%;
  height: 5vh;
  font-weight: 500;
  text-align: right;
  display: inline-block;
  margin-top: 1.5vh;
  padding-right: 0.5vw;
  overflow: hidden;
}
#hero-guide li a {
    text-decoration: none;
    color: black; 
}

#myimage {
  width: 20%;
  max-width: 30%;
  display: flex;
  margin-left: 40%;
  margin-right: auto;
  border-radius: 100%;
  border: 1.5px solid black;
}

.who-am-i{
  display: block;
  max-width: 70%;
  text-align: center;
  width: 50rem;
  margin-left: auto;
  margin-right: auto;
}

.main-part{
  text-transform: uppercase;
  font-size: 0.7em;
}

.description{
  font-size: 0.6em;
  font-style: italic;
}

#image-and-logos {
  display: flex;
}
.icons {
  display: flex;
  width: 7.5%;
  flex-direction: column;
  height: auto;
}
#gitlogo{
    width: 69.5%;
    padding-bottom: 0%;
    margin-right: 0.78vw;
    margin-left: auto;
    margin-top: auto;
    cursor: pointer;
}
#linkedinlogo{
    width: 60%;
    margin-left: auto;
    margin-right: 1vw;
    cursor: pointer;
}
h1 {
    font-family: Arial, Helvetica, sans-serif;
}

.navigation-itens-section1 {
    display: inline-block;
    margin-left: 2%;
}
